REDIS_HOST=""
REDIS_PORT=""
REDIS_USER=""
REDIS_PASS=""

POSTGRES_DB_HOST=""
POSTGRES_DB_PORT=""
POSTGRES_DB_USER=""
POSTGRES_DB_PASSWORD=""
POSTGRES_DB_SSL=""
DATABASE_URL=""

NEXT_PUBLIC_UPLOAD_URL="" ## IMPORTANT SHOULD MATCH THE VALUE IN THE GUI / FRONTEND IF YOU ARE USING THAT

#### GENERAL SETTINGS ####
ENVIRONMENT="dev"
NEXT_FRONTEND_HOST=""

#### AUTH SETTINGS ####
NEXTAUTH_SECRET="" ## IMPORTANT SHOULD MATCH THE VALUE IN THE GUI / FRONTEND IF YOU ARE USING THAT
NEXTAUTH_URL=""
NEXTAUTH_URL_INTERNAL=""
API_KEY_ENCRYPTION_KEY=""

INTERNAL_SECRET="" # IMPORTANT: SHOULD MATCH THE VALUE IN UPPY FOLDER