SERVICE_FQDN_EXULU_BACKEND=""
SERVICE_URL_EXULU_BACKEND=""
AUTH_MODE=password
BACKEND=""
DEBUG=http-proxy-middleware*
ENVIRONMENT=prod
FRONTEND=""
NEXT_BACKEND=""
NEXTAUTH_SECRET=""
NEXTAUTH_URL=""
NEXTAUTH_URL_INTERNAL=""
NODE_ENV=prod
NPM_TOKEN=""

POSTGRES_DB_HOST=""
POSTGRES_DB_PASSWORD=""
POSTGRES_DB_PORT=5432
POSTGRES_DB_SSL=false
POSTGRES_DB_USER=postgres
POSTGRES_DB_NAME=""
LITELLM_DATABASE_URL=""

HUSKY=0
EXULU_ENTERPRISE_LICENSE=""
#### FILE HOSTING (S3 COMPATIBLE STORAGE) ####
COMPANION_S3_REGION="eu-central-1"
COMPANION_S3_KEY=""
COMPANION_S3_SECRET=""
COMPANION_S3_BUCKET=""
COMPANION_S3_ENDPOINT=""

#### REDIS SETTINGS ####
REDIS_HOST="136.243.95.90"
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=""
SETUP_PYTHON_IN_CI=1

EXULU_USE_LITELLM=true
PROXY_BASE_URL=""
TOTAL_MAX_RECORDINGS_DURATION_PER_MONTH="1500"
VERTEX_CREDENTIALS_PATH="./vertex-auth.json"
TOTAL_MAX_RECORDINGS_DURATION_PER_MONTH="1500"
LITELLM_CONFIG_PATH="./config.litellm.yaml"
LITELLM_MASTER_KEY="<your_master_key>"

SMTP_HOST=""
SMTP_TLS="True"
SMTP_PORT="587"
SMTP_USERNAME=""
SMTP_SENDER_EMAIL=""
SMTP_PASSWORD=""

HF_AUTH_TOKEN="<token>"

COHERE_API_KEY="<token>"

RECALL_REGION="eu-central-1"
RECALL_API_KEY="<api_key>"
RECALL_WORKSPACE_VERIFICATION_SECRET="<workspace_verification_secret>"

LITELLM_HOST=0.0.0.0