#### GENERAL SETTINGS ####
NODE_ENV="dev" # dev or prod
ENVIRONMENT="${NODE_ENV}"
DEBUG=http-proxy-middleware*

NPM_TOKEN="" # Token to install Exulu IMP.

#### CLIENT SIDE ####
FRONTEND="" # The canonical URL of your site which users access in the browser.
BACKEND=""  # The domain name where the backend is available. Important this is used client side (in the browser), so should not use docker aliases.

#### SERVER SIDE ####
NEXT_BACKEND="exulu-backend:9001" # IMPORTANT: if running the backend via docker container this value should be exulu-backend:9001 (when using the default docker-compose file we provide), if not running via a container it should default to http://localhost:9001

#### AUTH SETTINGS ####
NEXTAUTH_SECRET="" # Secret used for authentication, important this should match the secret on the backend
NEXTAUTH_URL="${FRONTEND}" # Set the NEXTAUTH_URL environment variable to the canonical URL of your site.
NEXTAUTH_URL_INTERNAL="${NEXT_BACKEND}"  # If provided, server-side calls will use this instead of NEXTAUTH_URL. Useful in environments when the server doesn't have access to the canonical URL of your site. Defaults to NEXTAUTH_URL.
AUTH_MODE="password" # can be either "otp" | "password", otp enables magic links, but requires an email server to be setup below

#### EMAIL SETTINGS (REQUIRED IF USING AUTH_MODE "otp") ####
# Used to send emails, for example when using OTP sign-in.
EMAIL_FROM=""
EMAIL_SERVER_HOST=""
EMAIL_SERVER_PORT=""
EMAIL_SERVER_USER=""
EMAIL_SERVER_PASSWORD=""

#### POSTGRES SETTINGS ####
POSTGRES_DB_HOST="" # IMPORTANT: if running the backend via docker container this value should be exulu-pgvector, if not running via a container it usually defaults to localhost
POSTGRES_DB_PORT=""
POSTGRES_DB_USER=""
POSTGRES_DB_PASSWORD=""
POSTGRES_DB_SSL=""
POSTGRES_DB_NAME="" # OPTIONAL, defaults to 'exulu'

#### OPTIONAL GOOGLE SIGNUP/IN ENV VARS ####
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
ALLOWED_EMAIL_DOMAINS=""
GOOGLE_SECURITY_GROUPS=""

### AI PROVIDER KEYS ###
OPENAI_API_KEY=""
GROQ_API_KEY=""
GOOGLE_GENERATIVE_AI_API_KEY=""
ANTHROPIC_API_KEY=""
MISTRAL_API_KEY=""

#### REDIS SETTINGS ####
# REDIS_HOST=localhost
# REDIS_PORT=6379
# REDIS_USER=default
# REDIS_PASS=d6bb8cb17032eaee6012cd2fa69cb6ac  

#### SIGNOZ TELEMETRY SETTINGS ####
# SIGNOZ_TRACES_URL="https://ingest.<region>.signoz.cloud:443/v1/traces OR your local instance"
# SIGNOZ_LOGS_URL="https://ingest.<region>.signoz.cloud:443/v1/logs OR your local instance"
# SIGNOZ_ACCESS_TOKEN="<get this from your cloud or local instance of signoz>"

#### HUGGING FACE ENV VARIABLES ####
HF_HUB_ENABLE_HF_TRANSFER=1 # Set to True for faster uploads and downloads from the Hub using hf_transfer.
HF_HUB_ENABLE_PROGRESS_BARS=1

#### FILE HOSTING (S3 COMPATIBLE STORAGE) ####
COMPANION_S3_REGION="eu-central-1" # If you are using Minio in docker, you can set this in the Configuration -> Region
COMPANION_S3_KEY="" # If you are using Minio in docker, you can setup a user via Identity -> Users to get the key
COMPANION_S3_SECRET="" # If you are using Minio in docker, you can setup a user via Identity -> Users to get a secret
COMPANION_S3_BUCKET=""
COMPANION_S3_ENDPOINT="http://localhost:9020" # Set to match your S3 host, this variable is used in the backend, so if the backend is run inside a docker container make sure to specify the correct endpoint within the container network (for example exulu-minio:9000)

#### IF USING MINIO VIA A DOCKER CONTAINER ####
MINIO_ROOT_USER="exulu"
MINIO_ROOT_PASSWORD="u1282@905isuem93_!wQi_"